/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#page {
    max-width: 800px;
    padding: 12px;
    margin: 0 auto;
    text-align: center;
}
html {
	margin-top: 16%;
	margin-bottom: 8%;
}
html, body {
font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  
}
body {
	background: url('../img/bg.jpg') no-repeat;
	background-position: top center;
	
}
h1#title {
	font-size: 52px;
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;
}

h1 span {
	font-size: 1rem;
}
h2 {
	font-family: "Fredericka the Great", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
	margin: 32px 0;
}
h3 {
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 2.1rem;
    margin: 20px 0;
    text-transform: uppercase;
	background: #000;
    color: #fff;
    padding: 16px 12px 10px 12px;
	display: inline-block;
}
h4 {
	font-size: 1.4rem;
    font-weight: 700;
	display: inline-block;
    margin-top: 1rem;
    background: #f3f3f3;
    padding: 4px 12px;
}
h5 {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 1.4rem 0;
}
p {
	line-height: 170%;
	margin: 3rem 0;
}


#contact-list {
	li {
		line-height: 180%;
		display: block;
	}
}

@media only screen and (max-width: 660px) {
	p {
		font-size: 0.9rem;
		margin: 32px 0px;
	}
}